body {
/*    background-color: green; */
/*    background-image: url("../images/01-02-02_ci-logo.png"); */
    background-image: url("/assets/images/01-02-02_background-img.jpg");
}

/* body {
    background-color: green; 
    background-image: url("../images/01-02-02_ci-logo.png"); 
        background-image: url("/assets/images/01-02-02_background-img.jpg");
    } 
    */
